.form-group{
    position:relative;
}

.input-material:focus {
    outline:none;
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
    border-bottom: 2px solid #5264AE;
}

.input-material {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 1px solid #757575;
    border-radius:0;
    outline: 0;
    font-size: 18px;
    color: #212121;
    background: transparent;
    transition: border-color 0.2s;
    padding:10px 10px 10px 5px;
}

.input-material::placeholder {
    color: transparent;
}

.input-label{
    position: absolute;
    top: -15px;
    display: block;
    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
    font-size: 14px;
    color: #9b9b9b;
}

.input-material:placeholder-shown ~ .input-label {
    font-size: 18px;
    cursor: text;
    top:10px;
}

.input-material:focus + .input-label{
    position: absolute;
    top: -15px;
    display: block;
    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
    font-size: 14px;
    color: #5264AE;
}

.input-material:focus ~ .input-label {
    position: absolute;
    top: -15px;
    display: block;
    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
    font-size: 14px;
    color: #5264AE;
}

.input-label:focus {
    position: absolute;
    top: -15px;
    display: block;
    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
    font-size: 14px;
    color: #5264AE;
}